{% extends 'Base.html' %}
{% block title %}
	ContactUs
{% endblock %}

{% block main %}
	<h1>ContactUs SprtNews</h1>
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title">
                {{ contact }}
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ contact.body }}
            </p>
        </div>
        <div class="card-footer">
            <span class="small text-muted">
                {{ contact.published_at }}
            </span>
        </div>
    </div>
{% endblock %}