{% extends 'Base.html' %}

{% block title %}
     media
{% endblock %}

{% block main %}

    <h1>Media SportNews</h1>

    <div class="text-center">
        <a href="{% url 'Media_Create' %}" class="btn btn-outline-danger">Add a New Media</a>
    </div>
    <section class="my-5 card card-body shadow">
        <form class="row g-3" action="{%  url 'Media_list' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="search">search</label>
                <input type="text" class="form-control" name="q"
                       id="search" value="{{ request.session.q }}">
            </div>
            <div class="col-md-4">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="search_by_cat">
                    <option value="">Select a Category .....</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if request.session.search_by_cat == cat.id %} selected {% endif %}>{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_by_user">User</label>
                <select class="form-control" name="search_by_user" id="search_by_user">
                    <option value="">Select a User.....</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary">Search</button>
                <a class="btn btn-danger" href="{% url 'Cancel_Search' %}">Cancel Search</a>
            </div>
        </form>
    </section>

    {% for media in medias %}

        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">
                    {{ media.title }}
                    <a href="{%  url 'Media_list_by_cat' cat_id=media.Category_id %}">
                        <span class="badge bg-success">{{ media.Category }}</span>
                    </a>

                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ media.body }}</p>
                <a href="{% url 'Media_detail' media.id  %}" class="btn btn-outline-primary ">Read more</a>
            </div>

            <div class="card-footer ">
                <span class="small text-muted">
                    {{ media.published_at }}
                </span>
            </div>
        </div>

    {% endfor %}


{% endblock %}