{% extends 'Base.html' %}

{% block title %}
    Podcast
{% endblock %}

{% block main %}

    <h1>Podcast SportNews</h1>

    <div class="text-center">
        <a href="{% url 'Podcast_Create' %}" class="btn btn-outline-danger">Add a New Podcast</a>
    </div>



    <section class="my-5 card card-body shadow">
        <form class="row g-3" action="{%  url 'podcast_list' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="search">search</label>
                <input type="text" class="form-control" name="q"
                       id="search" value="{{ request.session.q }}">
            </div>
            <div class="col-md-4">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="search_by_cat">
                    <option value="">Select a Category .....</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if request.session.search_by_cat == cat.id %} selected {% endif %}>{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_by_user">User</label>
                <select class="form-control" name="search_by_user" id="search_by_user">
                    <option value="">Select a User.....</option>
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if request.session.search_by_user == user.id %} selected {% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary">Search</button>
                <a class="btn btn-danger" href="{% url 'Cancel_Search' %}">Cancel Search</a>
            </div>
        </form>
    </section>




    {% for i in podcasts %}
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">
                    {{ i.title }}
                    <span class="badge bg-success">{{ i.Category }}</span>
                </h5>
            </div>

        <div class="card-body">
            <p class="card-text">
                {{ i.body }}
            </p>

            <a href="{% url 'podcast_detail' i.id %}" class="btn btn-outline-primary btn-lg">Read more</a>
        </div>

        <div class="card-footer ">
                <span class="small text-muted">
                    {{ i.published_at }}
                </span>
            </div>
        </div>

    {% endfor %}

{% endblock %}

