{% extends 'Base.html' %}

{% block title %}
    Podcast
{% endblock %}

{% block main %}

    <h1>Podcast SportNews</h1>

    <div class="text-center">
        <a href="{% url 'Podcast_Create' %}" class="btn btn-outline-danger">Add a New Podcast</a>
    </div>

    <section class="my-4">
        <form class="row g-3" action="{% url 'podcast_list' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="search">Search</label>
                <input type="text" class="form-control" name="q" id="search">
            </div>
            <div class="col-md-4">
                <label for="search">Category</label>
                <select class="form-control">
                    <option>select a category...</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="search">Users..</label>
                <select class="form-control">
                    <option>select a User...</option>
                </select>
            </div>
        </form>
    </section>

    {% for i in podcasts %}
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">
                    {{ i.title }}
                    <span class="badge bg-success">{{ i.Category }}</span>
                </h5>
            </div>

        <div class="card-body">
            <p class="card-text">
                {{ i.body }}
            </p>

            <a href="{% url 'podcast_detail' i.id %}" class="btn btn-outline-primary btn-lg">Read more</a>
        </div>

        <div class="card-footer ">
                <span class="small text-muted">
                    {{ i.published_at }}
                </span>
            </div>
        </div>

    {% endfor %}

{% endblock %}

